---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


$primarycolor: #353535; //dark grey
$midgrey: #5f5f5f; //mid grey
$primaryfont: 'Nunito Sans', sans-serif;
$fontsizelarge: 64px;
$fontsizemedium: 23px;
$fontsizesmall: 14px;
$lineheightlarge: 75px;
$bold: 900;


.border-top {
    border-top: solid 15px #353535;
}



.site-header {
    border-top: initial;
    border-bottom: initial;

    .menu-icon {
        font-family: $primaryfont;  
        text-align: center; 
        font-size: 13px;
        line-height: initial;
    }

    .arrow-back {
        margin-right: 13px;
    }

    .wrapper {
        display: flex;
        align-items: center;
    }

    .site-title {
        padding: 0px;
        margin: 0px;
        display: flex;
        line-height: initial;
        position: relative;
        width: 87px;
        overflow: hidden;
    }

    .site-title-inner {
        display: flex;
        position: relative;
        left: -45px;
    }

    a.site-title:hover {  
        list-style-type: none;
        text-decoration: none;
    }




    li {
        font-family: $primaryfont;
        font-size: $fontsizesmall;
        color: $primarycolor;
        display: inline;
    }

    .site-nav {
        margin-left: auto;
    }

    .logo {
        display: flex;
    }

    .contact-info {
        border-right: solid 3px $primarycolor;
        padding-right: 20px;
    }
    
    .wrapper {
        margin-top: 11px;
    }
}



h1{
	font-family: $primaryfont;
    font-weight: $bold;
    text-align: center;
    line-height: $lineheightlarge;
    color: $primarycolor;
    padding-bottom: 29px;
    padding-top: 18px;
    border-bottom: solid 15px $primarycolor;
}

h2 {
    font-family: $primaryfont;
    font-weight: $bold;
    font-size: $fontsizemedium;
    color: $primarycolor;
    margin-bottom: 5px;
}

p {
    font-family: $primaryfont;
    font-size: $fontsizesmall;
}

ul {
    margin: initial;
    list-style-type: none;

    li a:hover {
        text-decoration: none;  
    }

    li {
        font-family: $primaryfont;
        font-size: $fontsizesmall;
        margin-bottom: 9px;
    }
}

.home {

    .post-list > li {
        display: inline;
        width: 31.333%;
        float: left;
        text-align: center;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        position: relative;
    }    

    .post-list > li:nth-child(3n+3) { 
        margin-right: 0px; 
    }

    .post-list > li:nth-child(3n+1) { 
        margin-left: 0px; 
    }

    .post-list img {
        width: 100%;
    }

    .post-list .thumbnail-info{
        position: absolute;
        top: 1.9vw;
        width: 100%;
        color: white;
    }

    .post-list .thumbnail-title {
        font-size: 2vw;
        margin-bottom: 3px;
        line-height: 2.4vw;
        padding: 0vw 1vw;
    }

    .post-list .thumbnail-subtitle {
        font-size: 1vw;
        opacity: .8;
    }

    ul.post-list {
        margin-top: 54px;
    }

    /*info section*/
    .info-section {
        display: flex;
    }
    .self-portrait {
        width: 50%;
        display: inline;
        float: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .self-portrait img {
        width: 67%;
        display: block;
        margin: auto 0px auto auto;
    }
    .about {
        width: 50%;
        display: inline;
        float: left;
    }
    .about ul {
        width: 67%;
        display: block;
        margin: 135px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .clear-float {
        margin-bottom: 55px;
    }

}

.post-content{
    .overview{
        width: 48%;
        float: left;
    }
    .role{
        width: 48%;
        float: right;
    }

    .post-images li {
        background-color: #ededed;
        padding: 45px 57px 57px 57px;
    }

    .post-images p {
        text-align: center;
        color: $primarycolor;
        padding-bottom: 24px;
    }

    ul.post-images {
        margin-top: 32px;
    }
}

.clear-float {
    &:before, &:after {
        content: "";
        display: table;    
    }
    &:after {
        clear: both;    
    }
}

@media only screen and (max-width: 600px) {
.site-nav .page-link {
    border: none;
    padding: 5px 0px;
}
.site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
    background-color: #ffffff;
    border: solid 6px #353535;
    padding: 13px;
}
.site-header .contact-info{
    padding-right: 0px;
}
}


@media only screen and (min-width: 1024px) {
.home .post-list {
    .thumbnail-info {
        margin-top: 7px;
        top: 20px;

    }
    .thumbnail-title {
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 2px;
        padding: 0px 10px;
    }
    .thumbnail-subtitle {
        font-size: 12px;
    }
}

}


@media only screen and (max-width: 480px) {
.site-nav {
    top: 0px;

    label {
        background: $primarycolor;
        color: white;
        text-align: center;
    }
}

.site-header {
    .wrapper {
        margin-bottom: 0px;
    }
}

h1 {
    line-height: 46px;
    padding-bottom: 35px;
    padding-top: 0px;
}

.home .post-list > li {
    width: 100%;
}
.home .post-list {
    .thumbnail-info {
        top: 7.9vw;
    }
    .thumbnail-title {
        font-size: 6.5vw;
        line-height: 7.5vw;
    }
    .thumbnail-subtitle {
        font-size: 4vw;
    }
}

.home {
    .info-section {
        display: block;
    }
    .self-portrait {
        width: 100%;
        display: block;
        float: initial;
    }
    .self-portrait img {
        margin: 63px auto 16px auto;
    }
    .about {
        width: 100%;
        display: block;
        float: initial;
    }
    .about ul {
        width: 100%;
        margin: initial;
        text-align: center;
    }
}

.page-content {
        padding: 5vw 0;
}
.post-header {
        margin-bottom: 0px;
}

h1 {
    padding-bottom: 3vw;
    padding-top: 2vw;
    margin-bottom: 6vw;
}


.post-content{
    .overview{
        width: 100%;
        float: initial;
    }
    .role{
        width: 100%;
        float: initial;
    }

    .post-images li {
        padding: 35px 18px;
    }

    .post-images p{
        padding-bottom: 0px;
        line-height: 7vw;
        font-size: 5vw;
    }

    .overview ul li, .role ul li {
        list-style-type: square;
        margin-left: 17px;
    }
}



}

